fastapi
uvicorn[standard]
sqlalchemy
pymysql
requests
beautifulsoup4
python-dotenv
aiohttp

langchain==0.2.6
langchain-core==0.2.11
langchain-google-genai==1.0.3
google-generativeai==0.5.2

pydantic>=2.7.4
